# Core dependencies for CPU-only RVC
tornado>=6.1
setuptools
pydantic
wheel
pydub==0.25.1
httpx>=0.23.0
tensorboardX
faiss-cpu
ffmpeg-python
ffmpy
websockets>=10.0
gradio==3.50.2
librosa==0.10.1
gTTS
wget
psutil
matplotlib
mega.py
gdown
edge-tts
nltk
noisereduce
unidecode
numba
numpy<2.0
onnxruntime
omegaconf
pandas
praat-parselmouth
pyworld
requests
resampy
scikit-learn
scipy
yt-dlp
pyngrok
sounddevice
soundfile
tensorboard
torch
torchcrepe
torchaudio
torchvision
tqdm
einops
fairseq
flask
flask-cors
gin-config
local-attention
fastapi
uvicorn
protobuf
pedalboard
Cython
